<h1>L.A. Adventures</h1>
<h2>A bucket list for things to do in Los Angeles</h2>

<p>If you moved out of Los Angeles next month what are the places you wished you went to and the things you wish you did.  Make a list of cool things to do so you can make a plan to do them in case you move someday. You don't want to have any regrets.</p>